<dt><%= @label ? @label : YARD::Tags::Library.labels[@name] %></dt>
<dd>
<% if @no_names %>
  <% if @no_types %>
  <ul class="<%= @name %>">
  <% object.tags(@name).each do |tag| %>
    <li><p><%= htmlify(tag.text) %></p></li>
  <% end %>
  </ul>
  <% else %>
  <dl class="<%= @name %>">
  <% object.tags(@name).each do |tag| %>
    <dt class="type"><%= tag.types.nil? || tag.types.empty? ? 'Object' : tag_format_types(tag.types) %></dt>
    <dd><%= htmlify(tag.text) %></dd>
  <% end %>
  </dl>
  <% end %>
<% else %>
  <dl class="<%= @name %>">
  <% object.tags(@name).each do |tag| %>
    <dt class="name"><%= h(tag.name) %><% unless @no_types %><sub class="type"><%= tag_format_types(tag.types) %></sub><% end %><% if @name == :param and (o = object.parameters.assoc(tag.name.to_s)) and o[1] %> = <code class="default"><%= h(o[1]) %></code><% end %></dt>
    <dd>
      <%= htmlify(tag.text) %>
    <% if @name == :param and not((tags = object.tags(:option).select{ |e| e.name == tag.name }).empty?) %>
      <dl class="options">
      <% tags.each do |tag| %>
        <dt><%= h(tag.pair.name) %><sub class="type"><%= tag_format_types(tag.pair.types || ['Object']) %></sub><% if tag.pair.defaults %> = <code class="default"><%= h(tag.pair.defaults.join(', ')) %></code><% end %></dt>
        <dd><%= htmlify(tag.pair.text) if tag.pair.text %></dd>
      <% end %>
      </dl>
    <% end %>
    </dd>
  <% end %>
  </dl>
<% end %>
</dd>
