<% if @no_names %>
  <% if @no_types %>
    <dt><%= @label %></dt>
    <dd>
    <% if object.tags(@name).size > 1 %>
      <ul class="<%= @name %>">
      <% object.tags(@name).each do |e| %>
        <li><%= htmlify(e.text) %></li>
      <% end %>
      </ul>
    <% else %>
      <%= htmlify(object.tag(@name).text) %>
    <% end %>
  <% elsif object.tags(@name).size > 1 %>
    <dt><%= @label %></dt>
    <dd>
      <dl class="<%= @name %>">
      <% object.tags(@name).each do |e| %>
        <dt class="type"><%= now_format_types(e.types) %></dt>
        <dd><%= htmlify(e.text) %></dd>
      <% end %>
      </dl>
  <% else %>
    <dt><%= @label %><%= now_format_types_h(object.tag(@name).types) %></dt>
    <dd><%= htmlify(object.tag(@name).text) %></dd>
  <% end %>
<% else %>
  <dt><%= @label %></dt>
  <dd>
    <dl class="<%= @name %>">
    <% object.tags(@name).each do |e| %>
      <dt class="name"><%= h(e.name) %><% unless @no_types %><%= now_format_types_h(e.types) %><% end %></dt>
      <dd><%= htmlify(e.text) %></dd>
    <% end %>
    </dl>
<% end %>
</dd>
