<dt class="<%= @item.visibility %><%= @item.has_tag?(:deprecated) ? ' deprecated' : '' %>">
  <%= summary_signature(@item) %>
</dt>
<dd>
<% if @item.has_tag? :deprecated %>
<%= htmlify(@item.tag(:deprecated).text) %>
<% elsif @item.is_alias? %>
<p>This is an alias for <%= link_to_alias(@item) %>.</p>
<% else %>
<%= htmlify(@item.docstring.summary.empty? ? Docstring.new(text_from_return(@item)).summary : @item.docstring.summary) %>
<% end %>
</dd>
