<section id="<%= @scope %>-methods">
  <h1><%= @scope.to_s.capitalize %> Methods</h1>
<% if @methods.size > 5 %>
  <ul class="method-summary">
  <% @methods.sort_by{ |e| [e.name, e[:overload_index]] }.each do |e| %>
    <li><p><%= linkify(e, method_name_h(e.name)) %><% if e[:overload_index] %><sub><%= e[:overload_index] + 1 %></sub><% end %></p></li>
  <% end %>
  </ul>
<% end %>
<% @methods.each do |e| %>
  <%= yieldall :object => e %>
<% end %>
</section>
